* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-y: scroll;
  scroll-behavior: auto;
  font-family: 'Roboto', sans-serif;
  background: url('image.jpg') no-repeat center center fixed;
  background-size: cover;
  color: #444444;
}

header {
  background: url('image.jpg') no-repeat center center fixed;
  background-size: cover;
  background-color: #303030;
  color: #ffffff;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
}

h1 {
  font-size: 2rem;
  font-weight: 700;
}

a {
  color: #ffffff;
  text-decoration: none;
  font-weight: 700;
}

.chat-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center; /* Updated */
  height: 70vh;
  max-height: calc(100vh - 10rem);
  padding: 1rem;
  position: relative;
  overflow-y: auto; /* Updated */
}

@media only screen and (orientation: portrait) {
  .chat-container {
    height: calc(100vh - 12rem);
    max-height: 60vh;
    margin-top: 8rem;
    margin-bottom: 6rem;
  }
}

#chat-log {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 1rem;
}

.chat-entry {
  display: inline-block;
  margin-bottom: 0.5rem;
  max-width: 90%;
  padding: 0.5rem;
  border-radius: 0.5rem;
}

.user-message {
  background-color: #6c6ef3;
  color: #ffffff;
  align-self: flex-start;
}

.bot-message {
  background-color: #ffffff;
  color: #444444;
  align-self: flex-end;
}

#response-log {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 1rem;
}

.response-entry {
  display: inline-block;
  margin-bottom: 0.5rem;
  max-width: 80%;
  padding: 0.5rem;
  border-radius: 0.5rem;
  background-color: #eef0f2;
  color: #444444;
}








/* /* Form Styles / */
form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #ffffff;
  padding: 1rem;
  z-index: 9999; /* Ensure form is above chat log */
  background-image: url('image.jpg'); /* Set background image */
  background-repeat: no-repeat;
  background-size: cover;
}

label {
  font-weight: 700;
  margin-right: 0.5rem;
}


input[type="text"] {
border-radius: 1rem;
border: none;
padding: 1rem;
width: 80%;
font-size: 1.5rem;
outline: none;
margin-right: 0.5rem;
box-shadow: 0 0 10px rgba(236, 6, 6, 0.1);
}

button[type="submit"] {
background-color: #e9e9f3;
color: #290044;
border: none;
padding: 1.33rem 1rem;
border-radius: 2rem;
font-weight: 700;
flex-basis: 20%;
display: flex;
align-items: center;
justify-content: center;
}

button[type="submit"] svg {
fill: #ffffff;
width: 2rem;
height: 2rem;
}



/* Added avatar in the chatMessage */
.chat-entry.bot-message {
  display: flex;
  align-items: center;
}

.chat-entry.bot-message img {
  width: 21px;
  height: 21px;
  border-radius: 50%;
  margin-right: 10px;
}


.chat-entry.user-message {
  display: flex;
  align-items: center;
}

.chat-entry.user-message img {
  width: 21px;
  height: 21px;
  border-radius: 50%;
  margin-right: 10px;
}

